html, body {
    margin: 0;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: #2c83ec;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10%;
    /*border: solid #333333;;*/
    background-color: 	#d4e9fe;
    height: 100vh;
}

.login {
    display: flex;
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;

}

.login input[type="text"],
.login input[type="password"],
.login button[type="submit"] {
    box-sizing: border-box;
    background-color: #d4e9fe;
    color:#333333;
    width: 300px;
    height: 40px;
    margin: 5px 0;
    font-size: 0.9em;
}

.login button[type="submit"] {
    background-color: #2c83ec;
    color: white;
}

.login button[type="submit"]:hover {
    background-color: #1f6fd1;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}

.login_p_text {
    text-align: center;
}

.itemAdd {
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #333333;;
    padding: 0 10%;
    text-align: center;
}

.itemAdd input[type="text"] {
    width: 300px;
    font-size: 1em;
}

.itemAdd input[type="text"], 
    .itemAdd select {
        display: inline-block;
        vertical-align: middle;
        margin: 10px 5px;
        padding: 10px;
        box-sizing: border-box;
        background-color: 	#d4e9fe;
        color: #333333;
        font-size: 1em;
    }



.itemAdd button  {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2c83ec;
    color: white;
}

.itemAdd button:hover  {
    background-color: #1f6fd1;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333333;
    border-collapse: collapse;
    color: #333333;
    font-size: 1em;
}

th,td {
    text-align: center;
    padding: 10px;
    border: 1px solid #333333;
}

.sort-btn {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5px;
    padding: 10px;
    background-color: #2c83ec;
    color: white;
}

.sort-btn:hover {
    background-color: #1f6fd1;
}

#id_column {
    width: 20px;
}

#item_column {
    width: 500px;
}

.edit-btn {
    background-color: #2c83ec;
    color: white;
    font-size: 1.25em;
    padding: 10px 12px;
}

.edit-btn:hover {
    background-color: #1f6fd1;
}

.delete-btn {
    background-color: #2c83ec;
    color: white;
    font-size: 1.25em;
    padding: 10px 15px;
}

.delete-btn:hover {
    background-color: #1f6fd1;
}

.logout-container {
    position: absolute;
    top: 10px;
    right: 20px;
}

.logout-container button {
    background-color: #2c83ec;
    color: white;
    border: solid #333333;
    margin-top: 2%;
    margin-right: 5%;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.logout-container button:hover {
    background-color: #1f6fd1;
}

.flash-messages {
    color:#2c83ec;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

@media (max-width: 768px) {
    .wrapper {
        margin: 0;
        padding: 0 5%;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 1.2em;
    }

    .itemAdd input[type="text"],
    .itemAdd select,
    .itemAdd button {
        width: 100%;
        font-size: 1em;
        margin-bottom: 10px;
    }

    th#id_column,
    td:first-child {
        display: none;
    }
}