{% extends "layout.html" %}

{% block body %}

<h1>Mr Jaques' To Do List</h1>

<div class="itemAdd">
    <form action="/updateList" method="post">
        <input autocomplete="off" autofocus name="item" placeholder="Task Description" type="text">
        <select name="priority">
            <option disabled selected value="">Select Priority</option>
            {% for priority in priorities %}
            <option value={{priority}}>{{priority}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Item</button>
    </form>
</div>
<br>
<table class="toDoList">
    <tr>
        <th id="id_column">Item Number</th>
        <th id="item_column">Item</th>
        <th>Priority <button class="sort-btn" onclick="location.href='{{url_for('sort')}}'">&#9650; &#9660;</button></th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody>
        {% for record in to_do_list %}
         <tr>
            <td id="id_column">{{ record.index }}</td>
            {% if record.index == edit_index %}
            <form action ="{{ url_for('save_item')}}" method="POST">
                <td>
                    <input type="text" name="new_item" value="{{ record.item }}">
                    <input type="hidden" name="edit_index" value="{{ record.index }}">

                </td>
                <td>
                    <select name="new_priority">
                        {% for priority in priorities %}
                            <option value="{{ priority }}" 
                                {% if priority == record.priority %}selected{% endif %}>
                                {{ priority }}
                            </option>
                        {% endfor %} 
                    </select>
                </td>
                <td>
                    <button type="submit" class="save-btn" title="Save">Save</button>
                </td>
            </form>
            {%else%}

            <td id="item_column">{{ record.item }}</td>
            <td>{{ record.priority }}</td>
            <td class="edit">
                <form action ="{{ url_for('edit_item')}}" method = "POST">
                    <input type = "hidden" name ="edit" value="{{ record.index }}">
                    <button class="edit-btn" title="Edit">&#9998;</button>
                </form>
                
            </td>
            {% endif %}
            <td class="delete">
                <form action ="{{ url_for('delete_item')}}" method = "POST">
                    <input type = "hidden" name ="delete" value="{{ record.index }}">
                    <button class="delete-btn" title="Delete">&#128465;</button>
                </form>
            </td>
        </tr>
            
        {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}